<div id="modal" class="popup uk-modal" style="display:block;">
	<div class="uk-modal-dialog uk-modal-body">
	  <span class="modal-close abbrechen" _="on click take .uk-open from #modal wait 200ms then remove #modal">+</span>
		<h2 class="uk-modal-title">Lernchiplinks...</h2>

</div>

</div> 