<div id="modal" class="popup uk-modal" style="display:block;">
	<div class="uk-modal-dialog uk-modal-body">
	   <span class="modal-close abbrechen" _="on click take .uk-open from #modal wait 200ms then remove #modal">+</span>
		<h2 class="uk-modal-title">Neuer Ordner erstelle</h2>

		<%= form_for :folder do |f| %>

			<div class="uk-margin">
				<input type="text" class="uk-input" name="folder[name]" placeholder="Ordername">
				<input type="hidden" name="folder[user_id]" value="<%=current_user.id%>">
				<input type="hidden" name="folder[parent_id]" value="0">

			</div>

			<button 
				id="cancelButton"
				type="button" 
				class="btn-small btn-red uk-button uk-button-default" 
				_="on click take .uk-open from #modal wait 200ms then remove #modal">Abbrechen</button>
			<button type="submit" class="btn-small btn-green uk-button" >Erstellen</button>
			              
        <% end %>
	</div>
</div>