    <footer id="pageFooter" class="page-footer">
        <div class="info-footer">
            <div class="wr-info">
                <div class="footer-nav">
                    <ul>
                        <li><a href="/user-cond">Nutzungsbedingungen</a></li>
                        <li><a href="/privacy-policy">Datenschutz</a></li>
                        <li><a href="/contact-page">Kontakt</a></li>
                    </ul>
                </div>
                <div class="footer-contact">
                    <ul>
                        <li><span class="foot-ico bg-home"></span>Universitätsstrasse 25</li>
                        <li><span class="foot-ico bg-question"></span>CH - 8006 Zürich</li>
                        <li><span class="foot-ico bg-phone"></span><a href="tel: 032 510-13-18">Tel. 032 510 13 18</a></li>
                        <li><span class="foot-ico bg-email"></span><a href="mailto: info@lernchips.ch">info@lernchips.ch</a></li>
                    </ul>
                </div>
            </div>
            <div class="wr-foot-logo">
                <p><a href="#"><img src="img/logo-w.svg" alt=""></a></p>
            </div>
        </div>
        <div class="bottom-footer">Chipfabrik All rights reserved.</div>
    </footer>