


    <main class="home-page page-main">
        <section class="main-section">
            <div class="container">
                <div class="flex-wrapper">
                    <div class="flex-info">
                        <h1 class="info_title">Lernen mit Lernchips</h1>
                        <p class="info_subtitle">Mehr Lernerfolg durch modulare,
                            kombinierbare und interaktive Lerneinheiten.</p>
                        <ul class="info-list">
                            <li>Erstelle schnell und einfach eigene Übungen</li>
                            <li>Verknüpfe einzelne Lernchips zu einem Chipset</li>
                            <li>Teile Lernchips und Chipsets mit der Studiengruppe
                                oder anderen Lehrpersonen</li>
                            <li>Nutze bestehende Kurse anderer Lehrpersonen
                                deiner Institution</li>
                            <li>Individuelle Lernkontrolle für Lehrpersonen</li>
                            <!--
                            <li>Live Feedback für Student*innen</li>
                        -->

                        </ul>
                    </div>
                    <div class="flex-img"><img src="img/top-img.png" alt=""></div>
                </div><!-- flex-wrapper -->
                <div class="wr-buttons">
                    <a class="btn btn-beige" href="/reg-page">Registrieren</a>
                    <a class="btn btn-yellow" href="javascript:void(0);">Anmelden</a>

                </div>
            </div>
        </section>

        <section class="category-section">
            <div class="container">
                <h2 class="cat-title">Lernchip-Kategorien</h2>
                <p class="cat-text">Diese Kategorien helfen dir bei der Übersicht über die vielfältigen Übungs-Möglichkeiten. In jeder Kategorie warten spannende Lernchips auf deine Anpassung. </p>
                <div class="flex-cat">
                    <div class="cat-item">
                        <div class="flip-card">
                            <div class="cat-item-front">
                                <div class="block-ico"><img src="./img/text.svg" alt=""></div>
                                <h4 class="title-item">Text</h4>
                                <p class="text-item">Befragung, Essay, Worte einfügen,
                                    Dokumentation, etc.</p>
                            </div>
                            <div class="cat-item-back">
                                <h4 class="title-item">Images and Video</h4>
                                <ul class="list-item">
                                    <li>Bildbetrachter</li>
                                    <li>Bilderpaare</li>
                                    <li>Bilderreihenfolge erstellen,</li>
                                </ul>
                                <a href="" class="go">Go</a>
                            </div>
                        </div>
                    </div>
                    <div class="cat-item">
                        <div class="flip-card">
                            <div class="cat-item-front">
                                <div class="block-ico"><img src="./img/select.svg" alt=""></div>
                                <h4 class="title-item">Select</h4>
                                <p class="text-item">Multiple Choice, Single Choice,
                                    Wahr/Falsch Frage, etc.</p>
                            </div>
                            <div class="cat-item-back">
                                <h4 class="title-item">Images and Video</h4>
                                <ul class="list-item">
                                    <li>Bildbetrachter</li>
                                    <li>Bilderpaare</li>
                                    <li>Bilderreihenfolge erstellen,</li>
                                </ul>
                                <a href="" class="go">Go</a>
                            </div>
                        </div>
                    </div>
                    <div class="cat-item">
                        <div class="flip-card">
                            <div class="cat-item-front">
                                <div class="block-ico"><img src="./img/audio.svg" alt=""></div>
                                <h4 class="title-item">Audio</h4>
                                <p class="text-item">Audio Recorder, Dictation,
                                    Speak the words, etc.</p>
                            </div>
                            <div class="cat-item-back">
                                <h4 class="title-item">Images and Video</h4>
                                <ul class="list-item">
                                    <li>Bildbetrachter</li>
                                    <li>Bilderpaare</li>
                                    <li>Bilderreihenfolge erstellen,</li>
                                </ul>
                                <a href="" class="go">Go</a>
                            </div>
                        </div>
                    </div>
                    <div class="cat-item">
                        <div class="flip-card">
                            <div class="cat-item-front">
                                <div class="block-ico"><img src="./img/text.svg" alt=""></div>
                                <h4 class="title-item">Text</h4>
                                <p class="text-item">Befragung, Essay, Worte einfügen,
                                    Dokumentation, etc.</p>
                            </div>
                            <div class="cat-item-back">
                                <h4 class="title-item">Images and Video</h4>
                                <ul class="list-item">
                                    <li>Bildbetrachter</li>
                                    <li>Bilderpaare</li>
                                    <li>Bilderreihenfolge erstellen,</li>
                                </ul>
                                <a href="" class="go">Go</a>
                            </div>
                        </div>
                    </div>
                    <div class="cat-item">
                        <div class="flip-card">
                            <div class="cat-item-front">
                                <div class="block-ico"><img src="./img/cards.svg" alt=""></div>
                                <h4 class="title-item">Cards</h4>
                                <p class="text-item">Dialogkarten, Flashcards,
                                    Kurspräsentation.</p>
                            </div>
                            <div class="cat-item-back">
                                <h4 class="title-item">Images and Video</h4>
                                <ul class="list-item">
                                    <li>Bildbetrachter</li>
                                    <li>Bilderpaare</li>
                                    <li>Bilderreihenfolge erstellen,</li>
                                </ul>
                                <a href="" class="go">Go</a>
                            </div>
                        </div>
                    </div>
                    <div class="cat-item">
                        <div class="flip-card">
                            <div class="cat-item-front">
                                <div class="block-ico"><img src="./img/quizes.svg" alt=""></div>
                                <h4 class="title-item">Quizes</h4>
                                <p class="text-item">Arithmetic Quiz, Persönlichkeits Quiz, Quiz (Frageset).</p>
                            </div>
                            <div class="cat-item-back">
                                <h4 class="title-item">Images and Video</h4>
                                <ul class="list-item">
                                    <li>Bildbetrachter</li>
                                    <li>Bilderpaare</li>
                                    <li>Bilderreihenfolge erstellen,</li>
                                </ul>
                                <a href="" class="go">Go</a>
                            </div>
                        </div>
                    </div>
                    <div class="cat-item">
                        <div class="flip-card">
                            <div class="cat-item-front">
                                <div class="block-ico"><img src="./img/quizes.svg" alt=""></div>
                                <h4 class="title-item">Finden</h4>
                                <p class="text-item">Finde den Hotspot, Finde mehrere Hotspots, etc.</p>
                            </div>
                            <div class="cat-item-back">
                                <h4 class="title-item">Images and Video</h4>
                                <ul class="list-item">
                                    <li>Bildbetrachter</li>
                                    <li>Bilderpaare</li>
                                    <li>Bilderreihenfolge erstellen,</li>
                                </ul>
                                <a href="" class="go">Go</a>
                            </div>
                        </div>
                    </div>
                    <div class="cat-item">
                        <div class="flip-card">
                            <div class="cat-item-front">
                                <div class="block-ico"><img src="./img/interaction.svg" alt=""></div>
                                <h4 class="title-item">Interaction</h4>
                                <p class="text-item">Drag and Drop, Wörter markieren,
                                    Interaktives Video, etc.</p>
                            </div>
                            <div class="cat-item-back">
                                <h4 class="title-item">Images and Video</h4>
                                <ul class="list-item">
                                    <li>Bildbetrachter</li>
                                    <li>Bilderpaare</li>
                                    <li>Bilderreihenfolge erstellen,</li>
                                </ul>
                                <a href="" class="go">Go</a>
                            </div>
                        </div>
                    </div>
                </div><!-- flex-cat -->
            </div>
        </section>

        <section class="vorteile-section">
            <div class="container">
                <h2 class="vorteile-title">Deine Vorteile mit Lernchips</h2>
                <div class="vor-item">
                    <div class="vor-ico">
                        <div class="vorangle"></div>
                        <div class="wr-vorico">
                            <img src="./img/schnell.png" alt="">
                            <div class="img-title">Schnell & einfach</div>
                        </div>
                        <div class="afterangle"></div>
                    </div>
                    <div class="vor-info">
                        <h5 class="vor-title">Erstelle schnell und einfach eigene Übungen </h5>
                        <p class="vor-text">Digitale Übungen sind im Handumdrehen erstellt. Lernchip-Typ auswählen, Texte, Bilder oder Videos einfügen, Einstellungen anpassen und mit Student(innen) teilen. </p>
                    </div>
                </div><!-- vor-item -->
                <div class="vor-item">
                    <div class="vor-ico">
                        <div class="vorangle"></div>
                        <div class="wr-vorico">
                            <img src="./img/verknupfe.png" alt="">
                            <div class="img-title">Verknüpfe Lernchips zu einem Chipset</div>
                        </div>
                        <div class="afterangle"></div>
                    </div>
                    <div class="vor-info">
                        <h5 class="vor-title">Kombiniere einzelne Lernchips zu einer sequenziellen Abfolge - dem Chipset. </h5>
                        <p class="vor-text">Ziehe einzelne Lernchips- Übungssequenzen mittels Drag & Drop in eine beliebige Reihenfolge - einem "Chipset". Die Student*innen lösen alle Übungen in dieser Abfolge. </p>
                    </div>
                </div><!-- vor-item -->
                <div class="vor-item">
                    <div class="vor-ico">
                        <div class="vorangle"></div>
                        <div class="wr-vorico">
                            <img src="./img/sharing.png" alt="">
                            <div class="img-title">Sharing is caring</div>
                        </div>
                        <div class="afterangle"></div>
                    </div>
                    <div class="vor-info">
                        <h5 class="vor-title">Teile deine Lernchips, Chipsets und die Links zu Übungen. </h5>
                        <p class="vor-text"> Du kannst deine Lernchips und Chipsets mit anderen Personen teilen. Sende deinen Student*innen einfach einen Direktlink oder QR Code. Teile deine Lernchips und Chipsets mit anderen Lehrpersonen der
                            gleichen Institution damit sie diese ebenfalls für ihren Unterricht verwenden können. </p>
                    </div>
                </div><!-- vor-item -->
                <div class="vor-item">
                    <div class="vor-ico">
                        <div class="vorangle"></div>
                        <div class="wr-vorico">
                            <img src="./img/zusammen.png" alt="">
                            <div class="img-title">Zusammen stark</div>
                        </div>
                        <div class="afterangle"></div>
                    </div>
                    <div class="vor-info">
                        <h5 class="vor-title">Nutze bestehende Lernchips und Chipsets.</h5>
                        <p class="vor-text">Du kannst freigegebene Lernchips und Chipsets anderer Lehrpersonen deiner Institution kopieren, auf deine individuellen Bedürfnisse anpassen, einzelne Lernchips aus den Chipsets löschen, hinzufügen oder die
                            Reihenfolge der Lernchips innerhalb der Chipsets verändern.</p>
                    </div>
                </div><!-- vor-item -->
                <div class="vor-item">
                    <div class="vor-ico">
                        <div class="vorangle"></div>
                        <div class="wr-vorico">
                            <img src="./img/live-feedback.png" alt="">
                            <div class="img-title">Live-Feedback und Lernkontrolle</div>
                        </div>
                        <div class="afterangle"></div>
                    </div>
                    <div class="vor-info">
                        <h5 class="vor-title">Live Feedback für Student*innen und individuelle Lernkontrolle für Lehrpersonen. </h5>
                        <p class="vor-text">Beim Lösung jedes Lernchips erhalten die Student*innen eine umgehende Rückmeldung, ob die Löusung korrekt ist. Lehrpersonen stehen verschiedene Tracking-Möglichkeiten zur Lernkontrolle zur Verfügung. </p>
                    </div>
                </div><!-- vor-item -->
                <div class="vor-item">
                    <div class="vor-ico">
                        <div class="vorangle"></div>
                        <div class="wr-vorico">
                            <img src="./img/organisiere.png" alt="">
                            <div class="img-title">Organisiere und verwalte deine Lerneinheiten</div>
                        </div>
                        <div class="afterangle"></div>
                    </div>
                    <div class="vor-info">
                        <h5 class="vor-title">Organisiere und Verwalte deine Lerneinheiten.</h5>
                        <p class="vor-text">Durch die Verwaltungsoberfläche könnnen Lernchips und Chipsets per Drag & Drop einfach strukturiert und in Ordnern abgelegt werden. Die intuitive Oberfläche ermöglicht eine effiziente Lernchips- und
                            Chipsetverwaltung. </p>
                    </div>
                </div><!-- vor-item -->
            </div>
        </section>

        <section class="example-section">
            <div class="container">
                <h2 class="example-title">Lernchips - Beispiele</h2>
                <div class="filter-nav">
                    <ul class="wr-filter" id="wrFilter">
                        <li class="filter-tag" data-tag="0"><a href="/category">All tests</a></li>
                        <li class="filter-tag" data-tag="1"><a href="/category?id=1">Category-1</a></li>
                        <li class="filter-tag" data-tag="2"><a href="/category?id=2">Category-2</a></li>
                        <li class="filter-tag" data-tag="3"><a href="/category?id=3">Category-3</a></li>
                        <li class="filter-tag" data-tag="4"><a href="/category?id=4">Category-4</a></li>
                        <li class="filter-tag" data-tag="5"><a href="/category?id=5">Category-5</a></li>
                    </ul>
                </div>

                <div class="example-flex">
                    <div class="ex-item">
                        <div class="wr-icon"><img src="./img/AlleLernchiptypen.svg" alt=""></div>
                        <h5 class="ex-title">Alle Lernchiptypen</h5>
                        <p class="ex-text">Drag and drop, interactive video etc.</p>
                    </div><!-- ex-item -->
                    <div class="ex-item">
                        <div class="wr-icon"><img src="./img/Kurspräsentation.svg" alt=""></div>
                        <h5 class="ex-title">Kurspräsentation</h5>
                        <p class="ex-text">Präsentation mit interaktiven Folien erstellen</p>
                    </div><!-- ex-item -->
                    <div class="ex-item">
                        <div class="wr-icon"><img src="./img/InteraktivesVideo.svg" alt=""></div>
                        <h5 class="ex-title">Interaktives Video</h5>
                        <p class="ex-text">Video mit interaktiven Inhalten erstellen.</p>
                    </div><!-- ex-item -->
                    <div class="ex-item">
                        <div class="wr-icon"><img src="./img/KombinierteAnsicht.svg" alt=""></div>
                        <h5 class="ex-title">Kombinierte Ansicht</h5>
                        <p class="ex-text">Inhalte in einem Spaltenlayout organisieren.</p>
                    </div><!-- ex-item -->
                    <div class="ex-item">
                        <div class="wr-icon"><img src="./img/MultipleChoice.svg" alt=""></div>
                        <h5 class="ex-title"> Lückentext</h5>
                        <p class="ex-text">Lückentextaufgabe zum Ergänzen.</p>
                    </div><!-- ex-item -->
                    <div class="ex-item">
                        <div class="wr-icon"><img src="./img/Dialogkarten.svg" alt=""></div>
                        <h5 class="ex-title"> Dialogkarten</h5>
                        <p class="ex-text">Textbasierte Dialogkarten.</p>
                    </div><!-- ex-item -->
                    <div class="ex-item">
                        <div class="wr-icon"><img src="./img/DragDrop.svg" alt=""></div>
                        <h5 class="ex-title"> Drag and Drop</h5>
                        <p class="ex-text">Drag and Drop Aufgabe mit Bildern.</p>
                    </div><!-- ex-item -->
                    <div class="ex-item">
                        <div class="wr-icon"><img src="./img/Worte-einfügen.svg" alt=""></div>
                        <h5 class="ex-title"> Worte einfügen</h5>
                        <p class="ex-text">Worte in Lücken schieben.</p>
                    </div><!-- ex-item -->
                </div>

                <div class="wr-buttons">
                    <a class="btn btn-beige" href="#">Registrieren</a>
                    <a class="btn btn-yellow" href="#">Anmelden</a>
                </div>

            </div>
        </section>

    </main>

