

    <main class="prices-page page-main">

        <div class="container">
            <h1 class="page-title">Prices and Subscriptions</h1>
            <div class="f-advert">
                <div class="f-advert-info">
                    <p class="advert-text">Neben unserem Gratisangebot bieten wir auch noch kostenpflichtige Abonnemente mit wertvollen Zusatzleistungen an.</p>
                    <p class="advert-text">So unter anderem die Möglichkeit, Chipkollektionen (Kurse / Wettbewerbe / Fragenkataloge usw.) und Chipbücher herzustellen.</p>
                    <p class="advert-text text-red">
                        Zum Erstellen und Bearbeiten von Lernchips registriere dich bitte für eines unserer untenstehenden Abonnemente!
                    </p>
                </div>
                <div class="f-advert-img">
                    <img src="./img/plans.png" alt="">
                </div>
            </div>
        </div><!-- container -->

    </main>

    <section class="price-plans">
        <div class="container">
            <div id="wrapPrices"></div>
            <div class="wr-btn">
                <p>Need help with choice?</p>
                <a href='/contact-page' class='btn btn-yellow'>Contact us</a>
            </div>
        </div>
    </section>
