
    <main class="reg-page page-main">

        <div class="container">
            <div class="flex-content">
                <h1 class="page-title">Werde Teil von Lernchips!</h1>
                <div class="page-img"><img src="img/werde_teil.png" alt=""></div>
                <p class="subtitle-choice">What type of account do you want to register?</p>
                <div id="btnChoice" class="btn-choice">
                    <a class="btn btn-beige active" href="/individual-plans">Persönliches Abonnement</a>
                    <a class="btn btn-beige" href="/reg-company">Institution</a>
                </div>
                <div class="btn-weiter"><a id="btnWeiter" class="btn btn-yellow" href="/individual-plans">Weiter</a></div>
            </div>
        </div>

    </main>

