
    <main class="test-editor page-main">

        <div class="main-section">
            <div class="container">
                <div class="main-content">
                    <p class="link-zurueck"><a href="/lernchips.html">&#60;&nbsp;Zurueck</a></p>
                    <h2 class="title-section">Test Creation Tool</h2>
                    <h4 class="subtitle-content">Set up your test here with our creation tool.</h4>
                    <p class="main-text">
                        <img class="mobile-img" src="img/editor-mobile.png" alt="">
                        <img class="desktop-img" src="img/test-editor.png" alt="">
                    </p>
                </div>
            </div>
        </div><!-- main-section -->

    </main>
