    <main class="test-preview page-main">

        <section class="sidebar">
            <div class="in-sidebar">
                <p class="wr-buttons">
                    <a href="/lernchips.html" class="zurueck">&lt; Zurueck</a>
                </p>
                <p class="title-menu">Tests List</p>

                <div class="panel-menu">
                    <ul class="list-menu">
                        <li class="menu-item"><a href="javascript:void(0);"><span>1.</span> My test 1</a></li>
                        <li class="menu-item"><a href="javascript:void(0);"><span>2.</span> Super Hard test</a></li>
                        <li class="menu-item"><a class="active" href="javascript:void(0);"><span>3.</span> My First Test</a></li>
                        <li class="menu-item"><a href="javascript:void(0);"><span>4.</span> Wild Animals Pictures and something else</a></li>
                        <li class="menu-item"><a href="javascript:void(0);"><span>5.</span> Ux Design Test 1</a></li>
                        <li class="menu-item"><a href="javascript:void(0);"><span>6.</span> Guess the tune 1</a></li>
                        <li class="menu-item"><a href="javascript:void(0);"><span>7.</span> Making a collage</a></li>
                        <li class="menu-item"><a href="javascript:void(0);"><span>8.</span> Guess the tune lorem 2</a></li>
                    </ul>
                </div>
            </div>
        </section>

        <div class="main-section">
            <h2 class="title-section">My New Chipset</h2>
            <div class="container">
                <div class="main-content">
                    <h3 class="title-content">Why do we use it?</h3>
                    <p class="main-text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                    <hr>
                    <p class="main-text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. </p>
                </div>
            </div>
        </div><!-- tile-02 -->

    </main>
