

    <main class="user-conditions page-main">

        <section class="promo-section">
            <div class="container">
                <h1 class="title-hero">Nutzungsbedingungen</h1>
                <div class="flex-container">
                    <div class="text-hero">
                        <h3 class="subtitle-hero">Anwendungsbedingungen</h3>
                        <p>Bitte lesen Sie diese Bedingungen genau durch. Mit dem Zugriff auf diese Website und ihre Seiten erklären Sie, dass Sie die folgenden Anwendungsbedingungen und rechtlichen Informationen im Zusammenhang mit dieser Website
                            (und den darin enthaltenen Elementen) anerkannt haben. Wenn Sie mit den nachfolgenden Bedingungen nicht einverstanden sind, unterlassen Sie den Zugriff auf diese Website und ihre Seiten (nachfolgend “Website” genannt).</p>
                    </div>
                    <div class="img-hero"><img src="img/image-promo.png" alt=""></div>
                </div>
            </div>
        </section>

        <section class="main-section">
            <div class="container">
                <div class="part part-1">
                    <h2 class="title-paragraf"><span><img src="img/title-ico.png" alt=""></span> Kein Angebot</h2>
                    <p>Die Informationen auf dieser Website dienen nur zu Informationszwecken. Mit Ausnahme der spezifischen, mit Preisen versehenen Angebote auf chipfabrik.ch/angebote sind auf der Website auch keine generellen Angebote enthalten.
                    </p>
                    <p>Die auf dieser Website publizierten Informationen und Meinungen stellen keine Beratung oder Empfehlung von Lernchips GmbH. Die Informationen auf der Website haben für Lernchips als Ganzes beschreibenden Charakter; es kann
                        allerdings sein, dass die beschriebenen Dienstleistungen für Sie nicht verfügbar oder geeignet sind.</p>
                    <hr>
                </div>
                <div class="part part-2">
                    <h2 class="title-paragraf"><span><img src="img/title-ico.png" alt=""></span>Links zu anderen Websites</h2>
                    <p>Lernchips hat etwaige mit der Website „verlinkten“ Websites nicht überprüft und ist nicht verantwortlich für den Inhalt dieser Off-Site-Seiten oder anderer Websites, die mit der Website verlinkt sind. Das Aktivieren eines Links
                        zu Off-Site-Seiten oder anderen Websites erfolgt auf eigenes Risiko.</p>
                    <hr>
                </div>
                <div class="part part-3">
                    <h2 class="title-paragraf"><span><img src="img/title-ico.png" alt=""></span>Links zu anderen Websites</h2>
                    <p>Lernchips hat etwaige mit der Website „verlinkten“ Websites nicht überprüft und ist nicht verantwortlich für den Inhalt dieser Off-Site-Seiten oder anderer Websites, die mit der Website verlinkt sind. Das Aktivieren eines Links
                        zu Off-Site-Seiten oder anderen Websites erfolgt auf eigenes Risiko.</p>
                    <hr>
                </div>
                <div class="part part-4">
                    <h2 class="title-paragraf"><span><img src="img/title-ico.png" alt=""></span>Keine Aufträge</h2>
                    <p>Lernchips hält ausdrücklich fest, dass Lernchips nicht verpflichtet ist, Aufträge für geschäftliche Vorgänge oder andere Geschäftshandlungen, welche Lernchips über diese Website übermittelt werden, entgegenzunehmen.</p>
                    <hr>
                </div>
                <div class="part part-5">
                    <h2 class="title-paragraf"><span><img src="img/title-ico.png" alt=""></span>Keine Zusicherung</h2>
                    <p>Obwohl Lernchips alle Sorgfalt darauf verwendet hat, dass die Informationen auf dieser Website zum Zeitpunkt der Veröffentlichung genau sind, kann weder Lernchips eine explizite bzw. implizite Zusicherung oder Gewährleistung
                        (auch gegenüber Dritten) hinsichtlich der Genauigkeit, Zuverlässigkeit oder Vollständigkeit der Information machen. Meinungen und sonstige Informationen auf dieser Website können jederzeit ohne Ankündigung geändert werden. Die
                        Publikation von Meinungen oder Informationen auf dieser Website impliziert nicht, dass sich diese Informationen oder Meinungen oder aber die Grundlagen dieser Informationen oder Meinungen seit der Erstellung oder Publikation
                        nicht geändert haben.</p>
                    <hr>
                </div>
                <div class="part part-6">
                    <h2 class="title-paragraf"><span><img src="img/title-ico.png" alt=""></span>Keine Gewährleistung</h2>
                    <p>Lernchips stellt die Informationen und Meinungen ohne jegliche Gewähr zur Verfügung. Lernchips übernimmt ausserdem keine Verantwortung und gibt keine Garantie dafür ab, dass die Funktionen auf dieser Website nicht unterbrochen
                        werden oder fehlerlos sind, dass Fehler behoben werden oder dass diese Website oder der jeweilige Server frei von Viren oder schädlichen Bestandteilen ist.</p>
                    <hr>
                </div>
                <div class="part part-7">
                    <h2 class="title-paragraf"><span><img src="img/title-ico.png" alt=""></span>Haftungsausschluss</h2>
                    <p>Jegliche Haftung von Lernchips (einschliesslich Fahrlässigkeit) für Schäden oder Folgeschäden, die sich aus der Benutzung oder dem Zugriff auf die Elemente dieser Website bzw. auf Links zu Websites Dritter (bzw. aus der
                        Unmöglichkeit der Benutzung oder des Zugriffs) ergeben, ist ausgeschlossen. Zudem lehnt Lernchips jede Haftung für Manipulationen am IT-System des Internet-Benutzers durch Dritte ab.</p>
                </div>
            </div>
        </section>

        <section class="ad-section">
            <div class="container">
                <h3 class="as-title">Any other questions</h3>
                <p><a class="btn btn-yellow" href="/contact-page">Contact us</a></p>
            </div>
        </section>

    </main>
